* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightpink;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: black;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  height: 150px;
  width: 200px;
  background-color: aliceblue;
  color: white;
  font-family: 'Cinzel', serif;
  font-size:35px;
  text-align: center;
  padding-top:50px;
  align-items: center;
}
#header-clue{
  color: rgb(169, 187, 52);
  text-align: center;
  background-color: black;
}